@import "tailwindcss";
@import "swiper/css/bundle";

@font-face {
  font-family: "Estedad";
  font-style: normal;
  font-display: swap;
  src: url(../../assets/fonts/Estedad-FD[KSHD\,wght].woff2) format("woff2");
}

@layer base {
  :root {
    --swiper-navigation-size: 40px;
    --swiper-navigation-sides-offset: -1rem;
    --swiper-navigation-top-offset: 61%;
    --swiper-pagination-bottom: 4px;
  }
  @media (width >= 48rem /* md => 768px */) {
    :root {
      --swiper-pagination-bottom: 8px;
    }
  }
  @media (width >= 80rem /* md => 1280px */) {
    :root {
      --swiper-navigation-top-offset: 66%;
    }
  }
}

@theme {
  /* RESET */
  --color-*: initial;
  --breakpoint-2xl: initial;

  /* FONT */
  --font-primary: Estedad;
  --leading-normal: 180%;
  --leading-small: 140%;

  /* COLOR */
  /*  primary */
  --color-primary: #417f56;
  --color-primary-tint-1: #e5f2e9;
  --color-primary-tint-2: #cae4d3;
  --color-primary-tint-3: #b0d7bd;
  --color-primary-tint-4: #96c9a7;
  --color-primary-tint-5: #7cbc91;
  --color-primary-tint-6: #61ae7b;
  --color-primary-tint-7: #4e9968;
  --color-primary-shade-1: #396f4b;
  --color-primary-shade-2: #315f41;
  --color-primary-shade-3: #294f36;
  --color-primary-shade-4: #21402b;
  --color-primary-shade-5: #183020;
  --color-primary-shade-6: #102016;
  --color-primary-shade-7: #08100b;
  /*  nature */
  --color-White: #fff;
  --color-gray-1: #f9f9f9;
  --color-gray-2: #e1e1e1;
  --color-gray-3: #ededed;
  --color-gray-4: #cbcbcb;
  --color-gray-5: #adadad;
  --color-gray-6: #757575;
  --color-gray-7: #717171;
  --color-gray-8: #353535;
  --color-black: #000;
  /*  semantic */
  /*    success */
  --color-success: #00966d;
  --color-success-light: #00ba88;
  --color-success-extralight: #f3fdfa;
  /*    danger */
  --color-error: #c30000;
  --color-error-light: #ed2e2e;
  --color-error-extralight: #fff2f2;
  /*    warning */
  --color-warning: #a9791c;
  --color-warning-light: #f4b740;
  --color-warning-extralight: #fff8e1;

  /* SHADOW */
  --shadow-2: 0 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-4: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-6: 0 6px 6px rgba(0, 0, 0, 0.25);
  --shadow-8: 0 8px 8px rgba(0, 0, 0, 0.25);
  --shadow-12: 0 12px 12px rgba(0, 0, 0, 0.25);
  --shadow-16: 0 16px 16px rgba(0, 0, 0, 0.25);
  --shadow-submenu: 0 0 6px rgba(0, 0, 0, 0.15);
  --shadow-cards: 0 16px 6px rgba(0, 0, 0, 0.01), 0 9px 5px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.09), 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-contact-cards: 0 42px 17px rgba(0, 0, 0, 0.02), 0 24px 14px rgba(0, 0, 0, 0.05), 0 11px 11px rgba(0, 0, 0, 0.09), 0 3px 6px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
}

@utility container {
  @apply mx-auto px-4 lg:px-7;
}

@utility h1 {
  @apply text-[2.75rem]/small font-primary font-bold;
}
@utility h2 {
  @apply text-[2.5rem]/small font-primary font-bold;
}
@utility h3 {
  @apply text-[2rem]/small font-primary font-bold;
}
@utility h4 {
  @apply text-2xl/small font-primary font-bold;
}
@utility h5 {
  @apply text-xl/small font-primary font-bold;
}
@utility h6 {
  @apply text-base/small font-primary font-bold;
}
@utility h7 {
  @apply text-xl/normal font-primary font-semibold;
}

@utility font-body-xl {
  @apply text-xl/normal font-primary font-normal;
}
@utility font-body-lg {
  @apply text-lg/normal font-primary font-normal;
}
@utility font-body-md {
  @apply text-base/normal font-primary font-normal;
}
@utility font-body-sm {
  @apply text-sm/normal font-primary font-normal;
}

@utility font-caption-md {
  @apply text-xs/normal font-primary font-normal;
}
@utility font-caption-lg {
  @apply text-sm/normal font-primary font-medium;
}
@utility font-caption-sm {
  @apply text-[.625rem]/normal font-primary font-normal;
}

@utility font-button-lg {
  @apply text-base/normal font-primary font-medium;
}
@utility font-button-sm {
  @apply text-sm/[1.25rem] font-primary font-semibold;
}

@utility font-overline-lg {
  @apply text-base/normal font-primary font-normal;
}
@utility font-overline-sm {
  @apply text-xs/[normal] font-primary font-bold;
}

@utility nav-link__active {
  @apply border-b text-primary transition-all delay-75 h6 lg:h5;
}
@utility btn {
  @apply flex justify-center items-center rounded-sm text-center transition-colors;
}

@utility btn-size-32 {
  @apply gap-x-1 px-2 lg:px-4 h-8 lg:h-10 font-caption-md lg:font-button-lg;
}
@utility btn-size-40 {
  @apply gap-x-2 px-4 h-10 font-button-lg;
}
@utility btn-size-48 {
  @apply gap-x-2 px-4 h-12 font-button-lg;
}
@utility btn-size-56 {
  @apply gap-x-2 px-4 h-14 font-button-lg;
}
@utility btn-card {
  @apply h-8 xl:h-10 font-caption-sm xl:font-button-lg transition-all;
}

@utility btn-fill-primary {
  @apply bg-primary hover:bg-primary-shade-2 active:bg-primary-shade-3 text-White;
}
@utility btn-stroke-primary {
  @apply border text-primary hover:text-primary-shade-2 active:text-primary-shade-3;
}
@utility btn-text-primary {
  @apply bg-transparent text-primary hover:text-primary-shade-2 active:text-primary-shade-3;
}

@utility btn-fill-white {
  @apply bg-primary-tint-1 hover:bg-primary-tint-2 active:bg-primary-tint-3 text-primary;
}
@utility btn-stroke-white {
  @apply border text-White hover:text-gray-1 active:text-gray-3;
}
@utility btn-text-white {
  @apply bg-transparent text-White hover:text-gray-1 active:text-gray-3;
}

@utility btn-fill-black {
  @apply bg-gray-7 hover:bg-gray-8 active:bg-black text-White;
}
@utility btn-stroke-black {
  @apply border text-gray-7 hover:text-gray-8 active:text-black;
}
@utility btn-text-black {
  @apply bg-transparent text-gray-7 hover:text-gray-8 active:text-black;
}

@utility btn-fill-disable {
  @apply bg-gray-3 text-gray-4 cursor-not-allowed;
}
@utility btn-stroke-disable {
  @apply border text-gray-4 cursor-not-allowed;
}
@utility btn-text-disable {
  @apply text-gray-4 cursor-not-allowed;
}
@layer utilities {
  .row {
    @apply gap-x-4 lg:gap-x-6 grid grid-cols-4 lg:grid-cols-12;
  }
}
@layer components {
  /* Rest Style Swiper - JS */
  .swiper-pagination {
    @apply flex justify-center items-center;
  }
  .swiper-pagination-bullet {
    @apply !bg-gray-5 !opacity-100 !mx-0.5 !size-1 md:!size-2;
  }
  .swiper-pagination-bullet-active {
    @apply !bg-primary !border-2 !border-primary-tint-1 !size-3 sm:!size-3 md:!size-4;
  }
  .swiper-button-disabled {
    @apply !opacity-0 !pointer-events-none;
  }
  .slider-btn {
    @apply flex justify-center items-center bg-White p-0.75 border border-gray-4 rounded-lg text-gray-6;
  }
  .slider-btn__icon {
    @apply !size-5 xl:!size-8;
  }
  .slider-header-btn {
    @apply !top-1/2 !text-White;
  }
  /* Container Side Mask */
  .container-side-mask::after {
    content: "";
    position: absolute;
    inset: 0;
    border-left: calc(max((100vw - 48rem) / 2)) solid var(--mask-color, #fff);
    border-right: calc(max((100vw - 48rem) / 2)) solid var(--mask-color, #fff);
    opacity: 80%;
    z-index: 5;
    box-sizing: content-box;
    pointer-events: none;
  }
  @media (width >= 64rem /* md => 1024px */) {
    .container-side-mask::after {
      border-left-width: calc(max((100dvw - 64rem) / 2) + 0.4rem);
      border-right-width: calc(max((100dvw - 64rem) / 2) + 0.4rem);
    }
  }
  @media (width >= 80rem /* md => 1280px */) {
    .container-side-mask::after {
      border-left-width: calc(max((100dvw - 80rem) / 2) + 0.4rem);
      border-right-width: calc(max((100dvw - 80rem) / 2) + 0.4rem);
    }
  }

  .header-submenu {
    @apply hidden group-hover:block top-full z-40 absolute bg-White opacity-0 group-hover:opacity-100 shadow-2xl px-2 *:py-2 border-primary border-t rounded-sm divide-y divide-gray-3 w-36 font-body-sm text-gray-8 transition-all;
  }
  .slider-header__slide {
    @apply !flex justify-center items-center text-center;
  }
  .slider-header__image {
    @apply block size-full object-cover;
  }
  .slider-header__overlay {
    @apply absolute inset-0 bg-primary-shade-4/50;
  }
  .slider-header__overlay--dark {
    @apply absolute inset-0 bg-black/55;
  }
  .slider-header__text {
    @apply absolute m-auto px-4 text-White h6 sm:h4 lg:h3 xl:h2;
  }
  .slider-header__btn {
    @apply bottom-8 sm:bottom-12 md:bottom-14 xl:bottom-17 absolute px-8 h-6! sm:h-8! lg:h-10!;
  }
  .section-title {
    @apply mb-3 sm:mb-4 lg:mb-5 xl:mb-6 text-gray-8 h6 sm:h5 md:h4;
  }
  .product-card {
    @apply border border-gray-4 rounded-lg overflow-hidden;
  }
  .product-card__img {
    @apply block w-full aspect-[84/55] max-h-48 lg:max-h-max lg:aspect-[9/8]  object-cover;
  }
  .product-card__wrap {
    @apply p-2 sm:p-3 xl:p-4 pt-1 sm:pt-1.5 divide-y-4 sm:divide-y-8 md:divide-y-10 xl:divide-y-16 divide-transparent;
  }
  .product-card__title {
    @apply block font-caption-md sm:font-caption-lg text-center xl:leading-5.5 xl:h7;
  }
  .product-card__content {
    @apply flex *:flex *:flex-col justify-between *:justify-between items-center lg:*:gap-y-2 xl:*:gap-y-0 *:gap-y-1 py-px font-caption-sm text-gray-7;
  }
  .product-card__favorite-wrap {
    @apply flex items-center gap-x-1;
  }
  .product-card__favorite-icon {
    @apply size-4;
  }
  .product-card__favorite-text {
    @apply hidden sm:flex;
  }
  .product-card__rate-wrap {
    @apply flex items-center gap-x-0.5 sm:gap-x-1 lg:py-[2.75px] xl:py-1;
  }
  .product-card__rate-icon {
    @apply size-4;
  }
  .product-card__rate-count-star {
    @apply sm:font-button-sm text-gray-8;
  }
  .product-card__rate-text {
    @apply hidden sm:block;
  }
  .product-card__off-wrap {
    @apply flex justify-end items-center gap-x-0.5 sm:gap-x-2 text-gray-5;
  }
  .product-card__off {
    @apply flex justify-center items-center bg-error-extralight rounded-full w-8 h-4 text-error;
  }
  .product-card__price {
    @apply block font-caption-sm lg:font-caption-lg xl:font-body-md text-gray-8 text-left;
  }
  .menu-section__item {
    @apply relative flex justify-center sm:gap-y-30 col-span-2 lg:col-span-3 bg-primary rounded-2xl h-20 sm:h-28 xl:h-40 cursor-pointer;
  }
  .menu-section__item-image {
    @apply w-30 h-max sm:w-44 xl:w-60 -translate-y-1/2;
  }
  .menu-section__item-text {
    @apply bottom-0 absolute bg-White text-gray-8 shadow-xl p-1.25 lg:p-1.5 rounded-sm w-8/12 font-body-md lg:font-body-xl text-center translate-y-1/2;
  }
  .about-section__item {
    @apply flex flex-col justify-center items-center gap-y-1 sm:gap-y-2 xl:gap-y-1 lg:py-4 xl:py-6.5 w-full;
  }
  .about-section__item-icon {
    @apply size-6 sm:size-9 lg:size-10 xl:size-12 text-White;
  }
  .about-section__text {
    @apply font-caption-md sm:font-caption-lg xl:font-body-lg;
  }
  .restaurant-branch__item {
    @apply relative flex lg:flex-col items-center col-span-4 md:col-span-2 lg:col-span-3 hover:shadow-cards border border-gray-4 hover:border-primary active:border-primary rounded-sm lg:rounded-lg h-20 sm:h-28 lg:h-72 xl:h-86 overflow-hidden transition-[border-color,box-shadow] duration-500 ease-[cubic-bezier(0.22,1,0.36,1)];
  }
  .restaurant-branch__item-image-wrap {
    @apply relative w-11/12 lg:w-full h-full lg:h-43 xl:h-57.5;
  }
  .restaurant-branch__item-image-overlay {
    @apply hidden z-10 absolute inset-0 lg:flex justify-center items-center bg-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-700 ease-[cubic-bezier(0.22,1,0.36,1)] pointer-events-none;
  }
  .restaurant-branch__item-image {
    @apply size-full object-cover transition-transform duration-700 ease-[cubic-bezier(0.22,1,0.36,1)];
  }
  .restaurant-branch__item-wrapper {
    @apply lg:bottom-0 z-20 lg:absolute flex flex-col justify-center items-center bg-White p-2 w-full h-full lg:h-auto text-center;
  }
  .restaurant-branch__item-title {
    @apply mb-1 font-button-sm sm:font-button-lg text-gray-8 xl:h7;
  }
  .restaurant-branch__item-location {
    @apply lg:h-12.5 font-caption-sm sm:font-body-sm xl:font-caption-lg text-gray-7;
  }
  .restaurant-branch__item-link {
    @apply hidden lg:flex justify-center items-center gap-x-1 opacity-0 mx-auto my-2 border rounded-sm w-32 h-0 font-caption-md text-primary-shade-2 transition-all translate-y-2 duration-700 ease-[cubic-bezier(0.22,1,0.36,1)];
  }
}
